
*{
  box-sizing: border-box;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}

.shootingStar{
  display: block;
  width: 100px;
  height: 1px;
  margin: 50px;
  margin-bottom: 160px;
  background-image: linear-gradient(45deg, rgb(243,233,233), transparent);
  position: relative;
  animation: shooting 2s linear infinite;
  opacity: 0;
  filter: drop-shadow(0 0 6px rgb(122,168,255));
}

.shootingStar::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background-color: rgb(243,233,233);
  box-shadow: 0 0 10px rgb(243,233,233);
  position: absolute;
  bottom: -.5px;
  left: 0;
}

.star:nth-child(2){
  right: 30px;
}
.star:nth-child(2) span{
  animation-delay: 5s;
}

.star:nth-child(3){
  right: 1250px; 
}
.star:nth-child(3) span{
  animation-delay: 1.5s;
}

.star:nth-child(4){
  right: -200px;
}
.star:nth-child(4) span{
  animation-delay: 3s;
} 

.star:nth-child(5){
  right: -350px;
}
.star:nth-child(5) span{
  animation-delay: 1s;
} 

 .star:nth-child(6){
  right: 850px;
}
.star:nth-child(6) span{
  animation-delay: 1s;
}

.star:nth-child(7){
  right: -450px;
}

 .star:nth-child(7) span{
  animation-delay: 5s;
}

.star:nth-child(8){
  right: 250px;
}
.star:nth-child(8) span{
  animation-delay: 1s;
}  


@keyframes shooting {
  0% {
    transform: translateY(-200px) rotate(-90deg);
    opacity: 1;
  }

  100% {
    transform: translateY(600px) rotate(-90deg);
    opacity: 0;
  }
} 

html {
  background-image: url("..//images/backgroup.png");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  height: 100%;   
  
}


h1 {
  color:rgb(243,233,233);
  text-align: center;
}

.container {
  margin: 3%;
  width: 30%;
  background-color: rgb(24,33,67,.8);
  color:rgb(243,233,233);
  border-radius: 7px; 
}

li{
  margin: 3%;
  background-color: rgb(24,33,67,.8);
  color:rgb(243,233,233);
  border-radius: 7px;
  display: inline-block;
  font-size: 18px;
}

ul{
  margin: 5px;
  padding: 5px;
  /* background-color: rgb(24,33,67,.8); */
  border-radius: 7px;
  text-align:center;
}

form{
  text-align: center;
  font-size: 1.25rem;

}

.resultsContainers{
  margin-top: 60px;
  padding: 5px;
  width: 25%;
 
}

button{
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
}

input{
  margin: 30px auto;
  font-size:18px;
  border:1px solid #ddd;
  border-radius:5px;
  padding:5px;
  display: block;
}

